.initial-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.initial-content>img {
    position: relative;
    height: 70%;
    width: 100%;
    bottom: 103px;
}

.initial-text {
    position: absolute;
    width: 550px;
    height: 500px;
    top: 85px;
    left: 300px;
}

.initial-text>p {
    font-size: 20px;
}