* {
    font-family: 'Fira Code', monospace;
}

body {
    display: grid;
    margin: 0;
    height: 100vh;
    width: 100vw;
    grid-template:
        "logo header" 80px
        "menu content" 1fr
        "menu footer" 30px
        / 200px 1fr;
}

/* =header */
.header {
    grid-area: header;
    border-bottom: 1px solid rgb(216, 216, 216);
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

header>a {
    text-decoration: none;
    margin: 0 20px;
    position: absolute;
}

header>button {
    margin: 0 20px;
    position: absolute;
}

.logo {
    grid-area: logo;
    background-color: white;
    border-right: 1px solid rgb(216, 216, 216);
}

.logo>img {
    position: relative;
    width: 75px;
    left: 100px;
    top: 1px;
}

.logo-text1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 35px;
    color: rgb(34, 128, 204);
    position: relative;
    bottom: 85px;
    margin-left: 7px;
    margin-bottom: 0;
    margin-top: 7px;
}

.logo-text2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 35px;
    color: rgb(34, 128, 204);
    position: relative;
    bottom: 95px;
    margin-left: 7px;
    margin-top: 0;
    margin-bottom: 0;
}

.header>input {
    position: relative;
    width: 350px;
    height: 25px;
    left: 150px;
    border-radius: 2px;
    border: 1px solid rgb(218, 218, 218);
    padding: 8px;
    font-size: 16px;
    outline: none;
}

.button-search {
    position: relative;
    height: 43px;
    width: 43px;
    margin-left: 149px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 0px;
    border: 0;
    background-color: rgb(17, 126, 216);
    cursor: pointer;
    z-index: 1;
}

.fa-search {
    color: white;
}

.button-forEnterprise {
    color: rgb(34, 34, 34);
    right: 275px;
}

.button-forEnterprise:hover {
    color: rgb(50, 144, 231);
}

.button-signIn {
    color: rgb(50, 144, 231);
    right: 140px;
    border: none;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}

.button-signUp {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(17, 126, 216);
    padding: 10px 15px;
    border-radius: 2px;
    right: 10px;
    border: none;
    cursor: pointer;
}

.button-signUp:hover {
    background-color: rgb(11, 105, 182);
}
/*—————*/


/* =sign in*/
.login-area {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.loginLogo-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin: 0;
}

.close-button {
    border: 0;
    font-size: 20px;
    font-weight: bold;
    color: gray;
    position: relative;
    top: 35px;
    left: 180px;
    background-color: white;
}

.close-button:hover {
    color: red;
}

.login-box {
    width: 400px;
    height: 550px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-facebook {
    color: white;
    border: none;
    padding: 10px 40px;
    background-color: rgb(44, 102, 168);
    font-weight: bold;
    font-size: 16px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 79%;
    height: 70%;
    margin: auto;
    border-top: 1px solid rgb(218, 218, 218);
}

.login-form>label {
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form>input {
    border: 1px solid rgb(218, 218, 218);
    padding: 10px;
    font-size: 16px;
    outline: none;
}

.login-form>a {
    text-decoration: none;
    position: relative;
    left: 160px;
    margin-top: 10px;
    color: rgb(17, 126, 216);
    font-weight: bold;
}

.login-form>a:hover {
    color: rgb(9, 87, 151);
}

.login-form>button {
    background-color: rgb(17, 126, 216);
    cursor: pointer;
    padding: 15px 0px;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 17px;
    margin-top: 30px;
}
/*—————*/


/* =sign up*/
.signUp-area {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.signUpLogo-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin: 0;
}

.close-button {
    border: 0;
    font-size: 20px;
    font-weight: bold;
    color: gray;
    position: relative;
    top: 35px;
    left: 180px;
    background-color: white;
}

.close-button:hover {
    color: red;
}

.signUp-box {
    width: 400px;
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUp-facebook {
    color: white;
    border: none;
    padding: 10px 40px;
    background-color: rgb(44, 102, 168);
    font-weight: bold;
    font-size: 16px;
}

.signUp-form {
    display: flex;
    flex-direction: column;
    width: 79%;
    height: 70%;
    margin: auto;
    border-top: 1px solid rgb(218, 218, 218);
}

.signUp-form>label {
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: bold;
}

.signUp-form>input {
    border: 1px solid rgb(218, 218, 218);
    padding: 10px;
    font-size: 16px;
    outline: none;
}

.signUp-form>a {
    text-decoration: none;
    position: relative;
    left: 160px;
    margin-top: 10px;
    color: rgb(17, 126, 216);
    font-weight: bold;
}

.signUp-form>a:hover {
    color: rgb(9, 87, 151);
}

.signUp-form>button {
    background-color: rgb(17, 126, 216);
    cursor: pointer;
    padding: 15px 0px;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 17px;
    margin-top: 30px;
}
/*—————*/

/* =menu */
.menu-area {
    grid-area: menu;
    background-color: white;
    border-right: 1px solid rgb(216, 216, 216);
}

.menu {
    display: flex;
    flex-direction: column;   
}

.menu>a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
}

.menu>a:hover {
    background-color: rgb(237, 241, 245);
}

.home-button {
    margin-top: 25px;
}

.social-networks {
    position: absolute;
    bottom: 30px;
    padding: 0px 5px;
}

.social-networks>a {
    text-decoration: none;
    color: black;
}
/*—————*/


/* =main */
.content {
    grid-area: content;
    background-color: white;
}
/*—————*/


/* =footer */
.footer {
    grid-area: footer;
    border-top: 1px solid rgb(216, 216, 216);
    background-color: rgb(243, 243, 243);
}
/*—————*/